@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-light: #67687a;
  --text: #08203a;
  --primary: #7c2b92;
  --secondary: #f55a24;
  --tertiary: #3290d5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-light: var(--text-light);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-roboto);
  --font-poppins: var(--font-poppins);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
